<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>263814749904-d340q7mv0640sge550oq3lt46so0e3d8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.263814749904-d340q7mv0640sge550oq3lt46so0e3d8</string>
	<key>API_KEY</key>
	<string>AIzaSyDLSH5acjV11CP98uisQEIreauWqRrdb2k</string>
	<key>GCM_SENDER_ID</key>
	<string>263814749904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.murakami.flutterDeadlineManagem</string>
	<key>PROJECT_ID</key>
	<string>flutter-deadline-management</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-deadline-management.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:263814749904:ios:edbebddc951b12d544c8d5</string>
</dict>
</plist>